<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Simple file uploader</title>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!-- fancybox -->
    <link rel="stylesheet" href="libs/fancybox/source/jquery.fancybox.css">
    <script src="libs/fancybox/source/jquery.fancybox.pack.js"></script>

    <script>
        $.get('header.html', function(data){
            $('#header').html(data);
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.fancybox').fancybox();
        });
    </script>
</head>
<body>
<div id="content">
    <div id = "header"></div>


    <div id="show_files">Loading...</div>

    <!-- load config file and load get pictures from handler-->
    <script src="js/serverConfig.js"></script>
    <script src="js/fileHandler.js"></script>
    <script>fileHandler.loadPictures();</script>

    <!-- fancybox block, can't extract easily -->
    <script type="text/html" id="show_files_template">
        <div class="heading"><h3>List Of Files</h3></div>
        <div class="file-container">
            <% for ( var i = 0; i < files.length; i++ ) { %>
            <div class="<%=getRatioClass(files[i]) %>" >

                <a class="fancybox"
                   href="<%= '#show_popup_link_' + files[i].id %>"
                   rel="pictures"
                   title="<%=files[i].name %>">

                    <img title="<%=files[i].name %>" src="<%= serverConfig.url('picture/' + files[i].id) %>">
                </a  >

                <div class="file-fullscreen" id="<%= 'show_popup_link_' + files[i].id %>" style="display: none;">
                    <img src="<%= serverConfig.url('picture/' + files[i].id) %>">
                </div  >

                <form id="<%= 'delete_file_' + files[i].id %>">
                    <button type="submit" class="close" title="Delete file">&times;</button>
                </form>
            </div>

            <% } %>
        </div>
    </script>
    <script>
        $(window).load(function () {
            fileHandler.deletePicture();
        })
    </script>

    <div id="file-form-div">
        <script>
            $.get('html/upload-form.html', function(data){
                $('#file-form-div').html(data);
            });
        </script>
    </div>
</div>
</body>
</html>